[submodule "tmux/config/tpm"]
	path = tmux/config/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "tmux/config/tmux"]
	path = tmux/config/tmux
	url = https://github.com/catppuccin/tmux

[submodule "tmux/config/tmux-sensible"]
	path = tmux/config/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible

[submodule "ranger/colorschemes/dracula"]
	path = ranger/colorschemes/dracula
	url = https://github.com/dracula/ranger.git

[submodule "emacs/spacemacs"]
	path = emacs/spacemacs
	url = https://github.com/syl20bnr/spacemacs

[submodule "linux/popos/themes/dracula-arturo"]
	path = linux/popos/themes/dracula-arturo
	url = https://github.com/aalbacetef/dracula-arturo
	branch = master
