RUSTUP_HOME=
CARGO_HOME=

# custom binaries and apps 
PERSONAL_BIN=
PERSONAL_APPS=
XDG_DIRS=

# vagrant.d
VAGRANT_HOME=

# add podman user-level service/socket as docker host
DOCKER_HOST=
SHADOWED_DOCKER_HOST=

NVM_DIR=

# add taskwarrior rc file path 
TASKDATA=
TASKRC=

ADD_LOCAL_BIN=/usr/local/bin:/personal-files/apps/bin
